# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
# .env.local 
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDSVsx42-DdcdiybUPi4ENKIatNyPqQ_xc
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=nails-c98d4.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=nails-c98d4
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=nails-c98d4.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=887070740428
NEXT_PUBLIC_FIREBASE_APP_ID=1:887070740428:web:c050cb08556b9858fcd769
# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
